$red-pantone: #e63946;
$honeydew: #f1faeeff;
$non-photo-blue: #D8DDDE;
$cerulean: #457b9dff;
$cerulean-overshadow: rgba(19, 153, 236, 0.8);
$berkeley-blue: #1d3557;
$berkeley-blue-header: rgba(29, 53, 87, 0.9);
$blue-destak: #60bffa;